body {
    font-family: "helvetica";
    
}

h4 span {
    font-size:14px;
    font-weight:normal;
}
  
h2 {
    float: right;
  }
  
h2 span {
    font-size:14px;
    font-weight:normal;
}
.erro{
	display: none;
}
#load{
	position:absolute;
	top:0px;
	left:0px;
	min-width:100%;
	min-height:100%;
	filter:alpha(opacity=80);
	background-color: #000000;
    opacity: 0.8;
    -moz-opacity:0.8;
    -webkit-opacity:0.8;
    z-index: 9000;
    text-align: center;
    justify-content: center;
    pointer-events:none
}
#load img{
	position:absolute;
	top:50%;
	width: 36px;
	height:36px;
}
#mapa{
	width: 100%; 
	height: 100%; 
	margin:auto;
}
.chart{
	min-width: 100%;
	min-height:100%;
	width: 100%;
	height:100%;
	position: absolute;
	left: 0%;
}
#chartDiv1{
	position:absolute;
	top:0%;
	left: 0px;
	min-width: 100%;
	min-height:100%;	
}
#chartDiv2{
	position:absolute;
	top:201%;
	left: 0px;
	min-width: 100%;
	min-height:100%;	
}
#chartDiv3{
	position:absolute;
	top:301%;
	left: 0px;
	min-width: 100%;
	min-height:100%;	
}
#chartDiv4{
	position:absolute;
	top:450%;
	left: 0px;
	min-width: 100%;
	min-height:100%;	
}
.color_legend{
	float: left;
	height: 30px;
	width: 30px;
}
.texto_legenda{
	float: left;
}
.legenda_item{
	height: 30px;
	margin-top: 5px;
}
#legenda{
	position: absolute;
	top: 0%;
	margin-top: 5%;
	right: 0%;

}
#Q1{
	position: absolute;
	top: 0%;
}

#Q1 h1{
	margin: 0px 0px 0px 0px;
}

#bar1Q1{
	position: absolute;
	top: 60%;	
}
#Q2{
	position: absolute;
	top: 100%;
	background-color: #f71b1b;
	
}
#Q3{
	position: absolute;
	top: 200%;
	background-color: #ffeb0f;
	
}
#Q4{
	position: absolute;
	top: 300%;
	background-color: #21cc90;
	
}
#Q5{
	position: absolute;
	top: 400%;
	background-color: #00cefc;
	
}
#Q6{
	position: absolute;
	top: 500%;
	background-color: #332cf9;
	
}
#Q7{
	position: absolute;
	top: 600%;
	background-color: #ff4f75;
	
}
#gradient{
	background: -webkit-linear-gradient(bottom,#ffff00,#3d3d00);
	/* For Opera 11.1 to 12.0 */
	background: -o-linear-gradient(bottom,#ffff00,#3d3d00);
	/* For Fx 3.6 to 15 */
	background: -moz-linear-gradient(bottom,#ffff00,#3d3d00);
	/* Standard syntax */
	background: linear-gradient(to top,#ffff00,#3d3d00); 
	min-height: 200px;
	min-width: 20px;
	width: 10%;
	height: 30%;
	

}
#legendaLinear{
	position: absolute;
	top: 0%;
	margin-top: 5%;
	right: 0%;
}
.filtro_buttom{
	moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	moz-box-shadow:2px 2px 5px #000000;
	-webkit-box-shadow:2px 2px 5px #000000;
	background-color: #8506ce;
	z-index: 1000;
	height: 30px;
	width: 30px;
	position: absolute;
	top: 0%;
	right: 0%;
	text-align: center;
	margin-top: 100px;
	margin-right:100px;
}

.filtro_buttom img{
	padding-top: 5px;
	height: 24px;
	width: 24px;

}
.filtro_buttom:hover{
	cursor: pointer;
}

.filtro{
	display: none;
	background-color: white;
	moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	moz-box-shadow:2px 2px 5px #000000;
	-webkit-box-shadow:2px 2px 5px #000000;
	width: auto;
	min-height: 50%;
	position: absolute;
	top: 100px;
	right: 0%;
	margin-right: 100px;
	background: rgba(255, 255, 255, 0.5);
	padding: 5px 30px 5px 5px;

}

g text{
	fill:black !important;
}